html {
background-color: black;
color: whitesmoke;
font-size: 30px;
}

body {
    position: relative;
    background-image: url("../images/eeeb9a7523807d37c916ff728a6ff651.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40px;
    height: 600px;
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Monoton', cursive; */
    font-size: 70px;
    text-align: left;
    padding: 15px;
    width: 500px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Monoton', cursive; */
    font-size: 40px;
    text-align: left;
    padding-top: 0px;
    padding: 15px;
    width: 500px;
}

#instructions {
    position: relative;
    background-image: url("../images/15684-illustration-of-a-cartoon-speech-bubble-pv.png");
    background-size: 200px;
    transform: rotate(50deg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    color: black;
    left: 670px;
    bottom: 20px;
   
    
   

}
#instructions #start-game {
    /* font-family: 'IM Fell DW Pica', serif; */
    font-family: 'Patrick Hand SC', cursive;
    font-size: 32px;
    padding: 50px;
    padding-left: 55px;
    padding-top: 30px;
    text-align: center;
    transform: rotate(-50deg);
    position: relative;
    height: 150px;
    width: 150px;
    
}
main {
    position: relative;
}
#word-area {
    
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    float: right; 
    bottom: 200px;
}

#word-area #wins-losses {
    color: black;
    font-size: 25px;
    background-color: whitesmoke;
    width: 125px;
    padding: 15px;
    border-radius: 10px;
    left: 10px;
}

/* media queries */
@media screen and (max-width: 1150px) {
    #word-area {
        position: relative;
        left: 100px;
    }

}

@media screen and (max-width: 966px) {
    #instructions {
        left: 520px;
    }
    #word-area #wins-losses {
        position: relative;
        left: 80px;
    }
}

@media screen and (max-width: 845px) {
    #word-area {
        position: relative;
        float: none;
        margin: 0px 0px 0px -100px;
        display: block;
        text-align: left;
        /* right: -20px; */
        top: -200px;
    }

    #word-area #wins-losses {
        position: relative;
        right: 30px;
        margin: 0px 0px 0px -80px;
    }

    h1 {
        position: relative;
        bottom: 200px;
        width: 400px;
    }

    h2 {
        position: relative;
        bottom: 200px;
        width: 300px;

    }
    #instructions {
        left: 460px;
    }
}

@media screen and (max-width: 682px) {
    #instructions {
        left: 400px;
    }

}

@media screen and (max-width: 612px) {
    #instructions {
        left: 350px;
    }
}